<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleat.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${Titulo}">Parametros</title>
    <link rel="stylesheet" href="/css/indextemplates.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <h1 th:text="${Titulo}"></h1>

    <!--http://localhost:3030/params/-->
    <ul>
        <li>
            <a th:href="@{/params/string(texto='Me fui')}">Mensaje</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params(texto=' ', num=3)}">Mensaje Y Numero</a>
        </li>
    </ul>


</body>
</html>